<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Предприятия</title>
</head>
<body>

<h2>Список предприятий</h2>

<ul>
    <li th:each="enterprise : ${enterprises}">
        <a th:href="@{/enterprise/{id}(id=${enterprise.enterpriseId})}" th:text="${enterprise.enterpriseName}"></a>
        <ul>
            <li th:each="car : ${carsByEnterprise[enterprise.enterpriseId]}">
                <a th:href="@{/cars/{id}(id=${car.carId})}" th:text="${car.number}"></a>
            </li>
        </ul>
    </li>
</ul>

<!-- Добавляем ссылку на отчёты -->
<a href="/managers/reports">Отчёты</a>

</body>
</html>
