<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Автомобиль</title>
</head>
<body>
<p th:text="${'ID: ' + car.getCarId()}">VALUE</p>
<p th:text="${'Пробег: ' + car.getMileage()}">VALUE</p>
<p th:text="${'Год выпуска: ' + car.getГод_выпуска()}">VALUE</p>
<p th:text="${'Запас хода: ' + car.getReserve()}">VALUE</p>
<p th:text="${'Номер: ' + car.getNumber()}">VALUE</p>
<p th:text="${'Бренд: ' + car.getBrand().getName()}">VALUE</p>


<h2>Назначенные водители:</h2>
<ul>
    <li th:each="driver : ${car.getDrivers()}">
        <span th:text="${driver.getName()}">Driver Name</span>
    </li>
</ul>

<h2>Активный водитель:</h2>
<ul>
<td th:text="${car.getActiveDriver() != null ? car.getActiveDriver().getName() : 'None'}">Активный водитель</td>
</ul>

<a th:href="@{/cars/{id}/edit(id=${car.getCarId()})}">Редактировать</a>

<a th:href="@{/cars/{id}/assignDrivers(id=${car.getCarId()})}">Назначить водителей</a>

<a th:href="@{/cars/{id}/assignActiveDriver(id=${car.getCarId()})}">Назначить активного водителя</a>

<form th:method="DELETE" th:action="@{/cars/{id}(id=${car.getCarId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>