<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новое предприятие</title>
</head>
<body>

<form th:action="@{/enterprises/save}" th:object="${enterprise}" method="post">
    <label for="name">Введите название предприятия: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Название предприятия Error</div>
    <br/>

    <label for="city">Введите город нахождения предприятия: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Город нахождения предприятия бака Error</div>
    <br/>

    <input type="submit" value=" Создать!"/>
</form>

</body>
</html>